name: Build

on:
  workflow_dispatch:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  CODE_SIGNING_REQUIRED: NO
  CODE_SIGN_IDENTITY: ""
  FORCE_COLOR: true

jobs:
  main:
    name: Build
    runs-on: macos-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - platform_type: ios
          - platform_type: macos
          - platform_type: tvos
          - platform_type: visionos
    steps:
      - name: Checkout
        uses: actions/checkout@main

      - name: Prepare Simulator
        id: simulator
        timeout-minutes: 3
        uses: ./.github/actions/prepare-simulator
        with:
          platform: ${{ matrix.platform_type }}

      - name: Run Build (${{ matrix.platform_type }})
        run: |
          cd .swiftpm/xcode
          xcodebuild build \
            -destination "${{ steps.simulator.outputs.destination }}" \
            -workspace package.xcworkspace \
            -scheme Statsig \
            | xcbeautify && exit ${PIPESTATUS[0]}
